{% extends "base.html" %}

{% block title %}Home - Bomet Machineries{% endblock %}
{% block content %}
<h2 class="text-3xl font-bold mb-6 text-center">Shop By Category</h2>
{% for category, category_products in categorized_products.items() %}
<section id="{{ category }}" class="mb-12">
    <div class="flex justify-between items-center mb-4">
        <h3 class="text-2xl font-semibold capitalize">{{ category }}</h3>

    </div>

        {% endfor %}
    </div>
</section>
{% endfor %}
{% endblock %}
